<?xml version="1.0"?>
<configuration>
  
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
      <section name="scannerSettings" type="ASInsScan.ScannerSettings, ASInsScan" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="fileSaveSettings" type="ASInsScan.FileSaveSettings, ASInsScan" allowLocation="true" allowDefinition="Everywhere"/>
    </configSections>
  
    <scannerSettings useDocumentFeeder="true" showTwainUI="false" showProgressIndicatorUI="false" useDuplex="false" shouldTransferAllPages="true">
      
      <rotationSettings automaticRotate="false" automaticBorderDetection="false"/>
      
      <!-- colourSetting can be "BlackAndWhite", "GreyScale", or "Colour" -->
      <resolutionSettings colourSetting="Colour" dpi="300" brightLevel="50"/>
    </scannerSettings>
	
    <!--
      Test Environment:
        iexPath="\\amcnt.amc.edu\amc\Applications\Allscripts\ImportFolder\TEST\InsCardScan"
        folderNumber="10"
      Training Environment:
        iexPath="\\amcnt.amc.edu\amc\Applications\Allscripts\ImportFolder\TRAIN\InsCardScan"
        folderNumber="10"
      Offline Environment:
        iexPath="\\amcnt.amc.edu\amc\Applications\Allscripts\ImportFolder\OFFLINE\InsCardScan"
        folderNumber="9"
      Production Environment:
        iexPath="\\amcnt.amc.edu\amc\Applications\Allscripts\ImportFolder\PROD\InsCardScan"
        folderNumber="9"
    -->
    <fileSaveSettings imageWidth="400" imageHeight="500" fileNameFormat="%mrn %folderNumber %yyyyMMdd %id" iexPath="\\amcnt.amc.edu\amc\Applications\Allscripts\ImportFolder\TEST\InsCardScan" folderNumber="10"/>
  
    <log4net>
		  <appender name="StandardFileAppender" type="log4net.Appender.RollingFileAppender">
			  <file value="log-file.txt"/>
			  <maximumFileSize value="10MB"/>
			  <maxSizeRollBackups value="10"/>
			  <rollingStyle value="Composite"/>
			  <appendToFile value="true"/>
			  <staticLogFileName value="true"/>
			  <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			  <layout type="log4net.Layout.PatternLayout">
				  <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			  </layout>
		  </appender>
		  <root>
			  <level value="DEBUG"/>
			  <appender-ref ref="StandardFileAppender"/>
		  </root>
	  </log4net>
	  <startup>
	  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
</configuration>
